<div class = "container">
  <div class = "row">
    <div class = "col">
      <h1>
        Sistema de Empleados
      </h1>

      <input
        type="text"
        class="form-control"
        [(ngModel)] = 'fullname'>
      <p>Nombre Completo</p>
      <select
      name="function"
      [(ngModel)] = 'function'
      class="form-control">
        <option value="Empleado">Empleado</option>
        <option value="Jefe">Jefe</option>
      </select>
      <p>Funcion</p>
      <button class = "btn btn-primary"
      (click) = "onAgregarEmpleado()">Agregar Empleado</button>
    </div>
  </div>
  <hr/>
</div>

<table name="table_empleados" class="table">
  <thead>
    <tr class="thead-dark">
      <th scope="col">#</th>
      <th scope="col">Nombre Completo</th>
      <th scope="col">Función</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tr *ngFor="let empl of empleados; let i = index">
    <th scope="col">{{i+1}}</th>
    <th scope="col">{{empl.fullname}}</th>
    <th scope="col">{{empl.functio}}</th>
    <th scope="col"><img src="assets/img/del.svg " width="30" height="30"></th>
  </tr>
</table>
