<div class = "container">
  <div class = "row">
    <div class = "col">
      <h1>
        Sistema de Empleados
      </h1>

      <input
        type="text"
        class="form-control"
        [(ngModel)] = 'fullname'>
      <p>Nombre Completo</p>
      <select
      name="function"
      [(ngModel)] = 'function'
      class="form-control">
        <option value="Empleado">Empleado</option>
        <option value="Jefe">Jefe</option>
      </select>
      <p>Funcion</p>
      <button class = "btn btn-primary"
      (click) = "onAgregarEmpleado()">Agregar Empleado</button>
    </div>
  </div>
  <hr/>
  <div *ngFor = "let empleado of empleados; let i = index">
    {{i+1}}: {{empleado.fullname}} {{empleado.functio}}
  </div>
</div>

<table name="table_empleados" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Completo</th>
      <th scope="col">Función</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
</table>
